
body {
  background-color: #DFF5FF;
  overflow: hidden;
}

/* CSS UNTUK SIDEBAR */
.hilang {
  font-size: 0;
}

.sidebar {
  width: 68px;
  height: 95vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  box-shadow: 0 8px 16px rgba(0.3, 0, 0.3, 0);
  z-index: 5;
  margin-top: -121px;
}

.inv{
  display:none;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 32px;
  margin-left: 20px;
}

.logo1 {
  display: flex;
  margin-left: 25px;
  flex-direction: row;
  align-items: center;
  padding-top: 120px;
}

.sidebar .logo1::before {
  content: "...";
  transition: 0.5s;
}

.sidebar:hover .logo1::before {
  content: "";
}

.sidebar .logo1::after {

  opacity: 0;
  transition: opacity 0.5s;
}

.sidebar:hover .logo1::after {
  content: "SingleSystem";
  opacity: 1;
}

.logo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
  padding-top: 20px;
}

.logo3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 33px;
  margin-left: 20px;
}

.logo4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}


.inlogo {
  margin-left: 20px;
  margin-top: 25px;
}

.sidebar:hover {
  width: 250px;
  height: 95vh;
  background-color: whitesmoke;
}

.sidebar .inlogo::after {
  content: "";
  opacity: 0;
  transition: opacity 0.5s;
}

.sidebar:hover .inlogo::after {
  content: "Manifes";
  opacity: 1;
}

.inlogo1 {
  margin-left: 20px;
  margin-top: 25px;
}

.sidebar .inlogo1::after {
  content: "";
  opacity: 0;
  transition: opacity 0.5s;
}

.sidebar:hover .inlogo1::after {
  content: "SingleCore";
  opacity: 1;
}

.inlogo2 {
  margin-left: 20px;
  margin-top: 25px;
}

.sidebar .inlogo2::after {
  content: "";
  opacity: 0;
  transition: opacity 0.5s;
}

.sidebar:hover .inlogo2::after {
  content: "Bendahara";
  opacity: 1;
}

.inlogo3 {
  margin-left: 20px;
  margin-top: 25px;
}

.sidebar .inlogo3::after {
  content: "";
  opacity: 0;
  transition: opacity 0.5s;
}

.sidebar:hover .inlogo3::after {
  content: "PKBSI";
  opacity: 1;
}

.inlogo4 {
  margin-left: 20px;
  margin-top: 25px;
}

.sidebar .inlogo4::after {
  content: "";
  opacity: 0;
  transition: opacity 0.5s;
}

.sidebar:hover .inlogo4::after {
  content: "Voluntary";
  opacity: 1;
}

a {
  color: black;
  text-decoration: none;
}

.dropdown-button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: static;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;

}

.dropdown-item:hover {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* CSS UNTUK HEADER */
.header {
  /* position: ; */
  width: 96%;
  height: 110px;
  background-color: whitesmoke;
  z-index: 4;
  margin-left: 68px;
  box-shadow: 0 8px 16px rgba(0.1, 0.1, 0.1, 0.1);
  display: flex;
}

.letaktom {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-left: -20px;
  width: 99%;
}

.a1 {
  height: 40px;
  background-color: whitesmoke;
  border: 1px solid black;
  color: black;
}

.a1:hover {
  background-color: red;
  color: black;
}

.hrs {
  width: 100%;
  background-color: black;
  height: 1px;
  margin-top: 12px;
}

.cei {
  font-size: 16px;
  margin-top: -5px;
}

.footer {
  width: 105%;
  height: 7vh;
  background-color: whitesmoke;
  padding-left: 78px;
  padding-top: 10px;
  box-shadow: 0 8px 16px rgba(0.3, 0.3, 0.3, 0.3);
}

.logoo {
  width: 30%;
  position: absolute;
  margin-left: 77px;
  margin-top: 29px;
}

.sidebar .logoo {
  display: none;
}

.sidebar:hover .logoo {
  display: block;
}

.thisbody {
  position: absolute;
  width: 90%;
  height: 100vh;
  background-color: whitesmoke;
  margin-left: 95px;
  margin-top: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ha5 {
  padding-top: 24px;
  padding-left: 39px;
  font-size: 19px;
}

.popup {
  display: none;
  background-color: white;
  width: 385px;
  height: 250px;
  z-index: 3;
  margin-top: 60px;
  margin-right: 18px;
}

.popuppetugas {
  display: none;
  background-color: white;
  width: 385px;
  height: auto;
  z-index: 3;
  margin-top: 60px;
  margin-right: 18px;
  padding-bottom: 20px;
}

.patas {
  background-color: yellow;
  height: 100px;
  /* background-image: url(); */
  display: flex;
  flex-direction: row;
}

.hay {
  width: 80px;
  margin: 13px;
}

.teman {
  margin-top: 30px;
  font-size: 24px;
  margin-left: 5px;
}

.a4 {
  display: flex;
  flex-direction: row;
}

.svg1 {
  margin: 20px;
}

.p0 {
  font-size: 16px;
  margin-top: 13px;
}

.p01 {
  font-size: 14px;
  padding-bottom: 20px;
  margin-top: -16px;
}

.pbawah {
  margin-top: 5px;
}

.h0 {
  margin-top: -20px;
}

.yebtn {
  margin-left: 25px;
  padding-right: 15px;
}

.header2 {
  /* position: ; */
  width: 102%;
  height: 110px;
  background-color: whitesmoke;
  z-index: 4;
  box-shadow: 0 8px 16px rgba(0.1, 0.1, 0.1, 0.1);
  display: flex;
}

.letaktom2 {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-left: 10px;
  width: 99%;
}

.cei2 {
  margin-top: 5px;
  font-size: 16px;
  margin-left: 14px;
}

.thisbody2 {
  position: absolute;
  width: 98%;
  height: 78vh;
  background-color: whitesmoke;
  margin-top: 18px;
  margin-left: 8px;
  overflow: scroll;
}

.footer2 {
  width: 105%;
  height: 7vh;
  background-color: whitesmoke;
  padding-left: 28px;
  padding-top: 10px;
  box-shadow: 0 8px 16px rgba(0.3, 0.3, 0.3, 0.3);
}

.menu {
  display: flex;
  position: left;
  justify-content: left;
  width: 100%;
  margin-right: 5px;
  margin-top: 3px;
}

.menu2 {
  display: flex;
  position: left;
  justify-content: left;
  width: 100%;
  margin-top: 22px;
  margin-left: 16px;
}

.sidebar2 {
  visibility: hidden;
  width: 250px;
  height: 110vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  box-shadow: 0 8px 16px rgba(0.3, 0, 0.3, 0);
  z-index: 5;
  margin-top: -121px;
  overflow: hidden;
}

.inlogo9 {
  margin-left: 20px;
  margin-top: 34px;
}

.a12 {
  height: 50px;
  background-color: whitesmoke;
  display: flex;
  position: right;
  justify-content: right;
}

.drow {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  height: 45px;
  width: 168px;
  padding-top: 10px;
}

.drow2 {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  height: 45px;
  width: 168px;
  padding-top: 6px;
}

.drow1 {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.dalambiru {
  margin-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 11px; */
}

.dalambiru0 {
  margin-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
}

.dalambiru01 {
  margin-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}

.dalambiru02 {
  margin-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
}

.dalamputih {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}

.hoh1 {
  padding-top: 8px;
}

.table {
  width: 100%;
  height: 60vh;
  background-color: white;
}

.offside {
  width: 97%;
  height: 45px;
  margin-top: 10px;
  margin-left: 20px;
  overflow-x: scroll;
}

.offside2 {
  width: auto;
  height: auto;
}

.container00 {
  margin-top: -6px;
  margin-top: -3px;
}

.isi {
  font-size: 18px;
}

.isi2 {
  font-size: 18px;
  margin-right: 30px;
}


.ya {
  text-decoration: none;
}

.kotak {
  width: 97%;
  height: auto;
  margin-top: 8px;
  position: sticky;
  border: 1px solid grey;
  margin-left: 20px;
}

.kotakpetugas {
  width: 100%;
  height: auto;
  margin-top: 8px;
  position: sticky;
  margin-left: 20px;
}

.kotakhaha {
  width: 97%;
  height: auto;
  margin-top: 8px;
  position: sticky;
  margin-left: 20px;
}

.kotak0 {
  width: 97%;
  height: auto;
  margin-top: 8px;
  position: sticky;
  margin-left: 20px;
}

.kotakz {
  width: 97%;
  height: auto;
  margin-top: 8px;
  position: sticky;
  margin-left: 20px;
}

.kotakdalam {
  background-color: #5fadd1;
  width: 98%;
  height: auto;
  margin: 11px;
  border: 1px solid black;
}

.kotak2 {
  width: 97%;
  height: auto;
  margin-top: 8px;
  position: sticky;
  border: 1px solid grey;
  margin-left: 10px;

}

.kotak2haha {
  width: 97%;
  height: auto;
  margin-top: 8px;
  position: sticky;
  margin-left: 10px;

}

.kotakdalam2 {
  background-color: #5fadd1;
  width: auto;
  height: auto;
  margin: 11px;
  border: 1px solid black;
}

.satu {
  margin-left: 10px;
  margin-top: 10px;
}

.tables {
  margin-left: 11px;
  border: 1px solid black;
}

.tabless {
  margin-right: 14px;
  border: 1px solid black;
}

.th1 {
  width: 700px;
  height: 70px;
  border: 1px solid black;
  padding-left: 20px;
  background-color: #c3c7c8;

}

.td1 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input1 {
  width: 97%;
}

.tambah {
  height: 170px;
  margin-top: 20px;
}

.tambah2 {
  height: 5x;
  margin-top: 20px;
}

.hay1 {
  width: 100%;
  height: auto;
  margin-top: px;
  margin-left: 12px;
  overflow-x: auto;
  overflow-y: hidden;
}

.hayhay {
  width: auto;
  height: 45px;
  margin-top: 10px;
  margin-left: px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.card-form {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;

}

.card-body {
  font-size: 16px;
}

.card-body h3 {
  margin-bottom: 20px;
}


.custom-form-group {
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.custom-form-group label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.custom-form-group input[type="text"] {
  flex: 2;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #e0f2e9; 
}


.form-group {
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.form-group label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.form-group input[type="text"],



.form-group select {
  flex: 2;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.form-group select {
  flex: 2;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('') no-repeat right center / 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-size: 20px;
  background-position: right 10px top 50%;
}

.pal {
  background-color: red;
  width: 100%;
  overflow-x: scroll;
}

.kotakk{
    width:97%;
    margin-top:8px;
    margin-left:19px;
  }

  .naupal {
    height: 50px;
  }

  .arc {
    margin-top: 50px;
  }

  .bagian-bawah {
    padding:5px;
  }

  .margin20{
    margin-top: 20px;
  }

  .hayd {
    width:90px;
  }

  .centered {
    text-align:center;
  }

  .kotakk{
    width:97%;
    margin-top:8px;
    margin-left:19px;
  }

  .naupal {
    height: 50px;
  }

  .bagian-bawah {
    padding:5px;
  }

  .oe {
    width:3rem;
  }

  .kotakk{
    width:97%;
    margin-top:8px;
    margin-left:19px;
  }

  .naupal {
    height: 50px;
  }

  .asta {
    height: 50px;
  }

  .maca {
    overflow: auto;
  }

  
  .kotakdalama {
    background-color: rgb(206, 137, 137);
    width: 98%;
    height: auto;
    margin: 11px;
    border: 1px solid black;
  }

  .kotakdalam2a {
    background-color: rgb(206, 137, 137);
    width: auto;
    height: auto;
    margin: 11px;
    border: 1px solid black;
  }

  .th1a {
    width: 700px;
    height: 70px;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c3c7c8;
  }

  .kotakk{
    width:97%;
    margin-top:8px;
    margin-left:19px;
  }

  .naupal {
    height: 50px;
  }

  .pungutan {
    background-color: rgb(172, 174, 174);
    width:100%;
    height:40px;
  }

  .pungutans {
    font-size: 18px;
    padding:5px;
    padding-left: 10px;
  }

  .tabel1 {
    margin-top: 10px;
  }

  .kepalaa{
    height:30px;
  }
  
  
  .kotakw {
    width: 97%;
    height:auto;
    margin-top: 8px;
    position: sticky;
    margin-left:20px;
  }

  .kotak2w {
    width: 97%;
    height:auto;
    margin-top: 8px;
    position: sticky;
    border: 1px solid grey;
    margin-left:10px;
    padding-bottom: 10px;
  }

  
  .badan1 {
    height:100vh;
    padding-left:20px;
  }

  .badan2 {
    height:100vh;
    padding-left:10px;
  }

  .gam1 {
    width:360px;
  }

  .pembungkus {
    background-color: whitesmoke;
    padding:20px;
  }

  .putih{
    color:whitesmoke;
  }

  .pad {
    padding-left: 10px;
  }
  
  .i {
    height:5px;
  }

  .btn12345{
    width:60px;
    height:40px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .centerweb {
    display: flex;
    justify-content: center;
  }

  .text-center {
    text-align: center;
}

td.text-center {
    vertical-align: middle;
}

.samping{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.kanan{
  margin-left:4px;
}

.kiri{
  margin-right:4px;
}

.buttonkembali{
  width:100%;
  margin-right: 20px;
}
